<h1>Edit comment</h1>
<%= form_for [@message, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>